
*{
    margin: 0px;
}
body{
    background: rgba(250,220,190,0.1);	
}

/* 功能列 */
.hh{
    height: 55px;
    background: rgb(205,170,140);
	border-radius: 0 0 15px 15px;
	box-shadow: 0 6px 17px rgba(10,40,75,0.3);
	position: fixed;
	z-index: 1;
}
.hh .row{
	align-items: center;
	padding: 5px;
}
.hh .col{
	padding: 0;
	display: flex;
	justify-content: center;
}
.ll{
	font-family: 'Gorditas', cursive;
}
.ll a{
	text-decoration:none;
	color:rgba(135,100,70);
	background:rgba(255,255,255,0.8);
	font-size:20px;
	border:2px solid rgba(135,100,70);
	border-radius:9px 9px 14px 20px;
	padding: 0 5px 7px 5px;
}
.tt {
	font-family: 'Lobster', cursive;
    list-style: none;
}
.tt  a{
    text-decoration: none;
    color: rgb(115,80,50);
	background:rgba(255,255,255,0.5);
	text-shadow: 2.5px 2.5px 7px rgba(255,255,255,0.8), -0.5px -0.5px rgba(255,255,255,0.8);
	padding:0 4px 3px 3px;
	border-radius:10px;	
	font-size:16px;
}

/* 通用設定 */
.zz{
	min-width: 100%;
	background:rgba(100,70,40,0.2);
	border-radius:0px;
	box-shadow:0 0 0px rgba(100,70,40,0.6);
	padding: 70px 0 13px 0;
}
.zz .col{
	min-width: 300px;
	color: rgba(50,50,85,1);
}
.zz img{
	width:100%;
	height:auto;
	border-radius:13px;
}
.zz h1{
	margin: 10px;
	text-align: center;
}
.zz p{
	padding:0 10px;
}

/* 個別設定 */
.aa img{
	box-shadow: 0 0 10px rgba(10,10,35,0.4);
}
.bb img{
	box-shadow: 0 0 10px rgba(30,90,30,0.4);
}
.cc img{
	box-shadow: 0 0 10px rgba(70,10,95,0.4);
}

/* RWD */
@media(min-width:768px){
	
	.container{
		max-width:1980px !important;	
	}

	/* 功能列 */
	.hh{
    	height: 75px;
		border-radius: 0 0 15px 15px;
		box-shadow: 0 6px 17px rgba(10,40,75,0.3);
		padding-top: 7px;
	}
	.ll a{
		font-size:25px;
		border:3.5px solid rgba(135,100,70);
		border-radius:12px 12px 17px 23px;	
	}
	.tt  a{	
		font-size:21px;
	}

	/* 通用設定 */
	.z1{
		height:105px;
	}
	.zz{	
		border-radius:0px;
		box-shadow:0 0 0px rgba(100,70,40,0.6);
		padding: 60px 40px;
	}
	.zz img{
		max-width:800px;
		border-radius:19px;
	}
	.zz h1{
		margin: 20px;
	}
	.zz p{
		padding:0 10px;
	}





}