@charset "utf-8";
*{
 text-align:center;
 background:rgb(225,207,189)
	
	}
	
.aa{
 margin-bottom: 20px;	
	
	}
	
.aa img{
 border-radius:30px;
	
	}

.bb{

	}
		
.bb iframe{
 border-radius:30px;
	
	}
@media (max-width:768px){
 .aa{
  border-radius:15px;
	 }
 .aa img{
  width: 250px;
  height: 250px;
	 }
 .bb iframe{
  width: 280px;
  height: 157px;
  border-radius:15px; 
	 }
	
	}